#cardBody {
	background-color: #b1d8e7;
}

#tasks {
	height: 65vh;
	width: 100vw;
}

#task {
	height: 163px;
	width: 233px;
	background-color: aquamarine;
}

#task > button {
	margin: 0px auto;
	display: block;
}

.upperBorder {
	border-top: 2px solid red;
}

#btnAdd {
	display: block;
	margin: 0px auto;
	width: 94px;
}
