#cardBody {
	background-color: #b1d8e7;
}

#tasks {
	height: 65vh;
	width: 100vw;
}

#task {
	height: 163px;
	width: 233px;
	background-color: aquamarine;
}

.upperBorder {
	border-top: 2px solid red;
}
